# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Database
*.sqlite
*.sqlite3
*.db
data/
instance/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


plan.md
design.md